body,h1,h2,h3,h4,h5,h6,p,ul,ol,dl,dd,td,input,select,option,textarea{
    margin:0;
    padding:0;
}
a{
    text-decoration:none;
}
li{
    list-style:none;
}
body{
    background-color: black;
}
/*导航*/
.headerBox{
    width: 100%;
    background-color: black;
    /*max-height: 100px;*/
    position: fixed;
}
.navBox{
    max-width: 1200px;
    margin: 0 auto;
    /*background-color: yellowgreen;*/
    overflow: hidden;
}
.logo{
    float: left;
    padding:10px;
}
.nav_ul{
    float: left;
    padding: 30px 0;
}
.nav_ul li{
    float: left;
    padding-right:50px;
}
.nav_ul li a{
    color: white;
    font-size: 16px;
    letter-spacing: 2px;
}
.navBox .search{
    float: right;
    /*width: 24px;*/
    /*height: 24px;*/
    font-size: 24px;
    padding: 30px 10px;
    color: white;
}
.navBox .menu{
    display: none;
}
.nav_two{
    background-color: black;
}
/*轮播图片*/
.bannerBox{
    width: 100%;
}
.banner_img img{
    width: 100%;
}
@media screen and (max-width: 990px){
    .nav_two{
        margin-top: 90px;
        display: block;
        width: 100%;
        color: white;
        overflow: hidden;
        box-sizing: border-box;
        border: 1px solid white;
    }
    .nav_two li{
        float: left;
        width: 50%;
        text-align: center;
        box-sizing: border-box;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .nav_two li:first-child{
        border-right: 1px solid white;
    }
}

/*相关文章*/
.aboutBox{
    overflow: hidden;
    padding-top: 100px;
    width: 100%;
    padding-bottom: 100px;
    border-bottom: 1px solid white;
    background-color: black;
}
.about{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.about h2{
    text-align: center;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 3.6px;
    color: white;
    padding-bottom: 50px;
}
.about_main{
    width: 303px;
    float: left;
    padding-left: 70px;
}
.white{
    background-color: white;
    text-align: center;
}
.white a{
    padding-left: 20px;
    color: black;
    font-size: 18px;
    letter-spacing: 1.3px;
}
.white p{
    padding-top: 18px;
    padding-bottom: 35px;
}
.white p a{
    font-size: 16px;
}
@media screen and (max-width: 685px){

    .about_main{
        margin: 0 auto;
        float: none;
    }
    .gong{
        display: none;
    }
    .gong2{
        display: none;
    }
    .footer_ul .footer_li:last-child{
        display: none;
    }
}
/*脚*/
.footerBox{
    width: 100%;
    overflow: hidden;
    color: white;
}
.footer{
    max-width: 1200px;
    margin: 0 auto;
}
.footer .footer_ul{
    padding-top: 100px;
    max-width: 100%;
    overflow: hidden;
    /*text-align: center;*/
}

.footer_li{
    float: left;
    padding-left: 50px;
    font-size: 20px;

}
.footer_li ul li{
    font-size: 16px;
    letter-spacing: 3.1px;
    padding-left: 50px;
    padding-bottom: 20px;
}
.footer_li .diqiu{
    display: inline-block;
    font-size: 24px;
    padding-right: 20px;
}
.footer_ul .footer_li:last-child{
    padding-left: 200px;
}
.gong{
    padding-top: 50px;
    padding-bottom: 50px;
    float: left;
}
.gong a{
    display: block;
    color: white;
}
.gong2{
    float: right;
    padding-top: 50px;
    padding-bottom: 50px;
}
.gong2 a{
    color: white;
    font-size: 12px;
}
@media screen and (max-width: 990px){
    .nav_ul{
        display: none;
    }
    .navBox .menu{
        display: block;
        float: right;
        /*width: 24px;*/
        /*height: 24px;*/
        font-size: 24px;
        padding: 30px 10px;
        color: white;
    }
    .personBox{
        text-align: center;
    }
    .about_main{
        padding-bottom: 50px;

    }
}
@media screen and (max-width: 820px){
    .nav_ul{
        display: none;
    }
    .navBox .menu{
        display: block;
        float: right;
        /*width: 24px;*/
        /*height: 24px;*/
        font-size: 24px;
        padding: 30px 10px;
        color: white;
    }
    .footer_li{
        padding-left: 0;
    }
    .footer_ul .footer_li:nth-child(1){
        display: none;
    }
    .footer_ul .footer_li:nth-child(2){
        display: none;
    }
}
